{
  "openapi": "3.1.0",
  "info": {
    "title": "Paxeer NFT Marketplace V2 API",
    "description": "Read-only REST API for creators, collections, NFTs, listings, sales, activities, stats, and uploads. Base URL: https://nft.api.marketplace.paxportwallet.com",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://nft.api.marketplace.paxportwallet.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Health status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/creators": {
      "get": {
        "summary": "List creators",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Creators",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedCreators"
                }
              }
            }
          }
        }
      }
    },
    "/api/creators/{wallet}": {
      "get": {
        "summary": "Get creator by wallet",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Creator",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessCreator"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/collections": {
      "get": {
        "summary": "List collections",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "featured",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "verified",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedCollections"
                }
              }
            }
          }
        }
      }
    },
    "/api/collections/{id}": {
      "get": {
        "summary": "Get collection by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessCollection"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/collections/slug/{slug}": {
      "get": {
        "summary": "Get collection by slug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessCollection"
                }
              }
            }
          }
        }
      }
    },
    "/api/collections/featured": {
      "get": {
        "summary": "Featured collections",
        "responses": {
          "200": {
            "description": "Featured collections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessCollections"
                }
              }
            }
          }
        }
      }
    },
    "/api/collections/trending": {
      "get": {
        "summary": "Trending collections",
        "responses": {
          "200": {
            "description": "Trending collections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessCollections"
                }
              }
            }
          }
        }
      }
    },
    "/api/collections/{id}/nfts": {
      "get": {
        "summary": "NFTs in a collection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NFTs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedNfts"
                }
              }
            }
          }
        }
      }
    },
    "/api/nfts": {
      "get": {
        "summary": "List NFTs",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "collection_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NFTs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedNfts"
                }
              }
            }
          }
        }
      }
    },
    "/api/nfts/{id}": {
      "get": {
        "summary": "Get NFT by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NFT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessNft"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/nfts/contract/{address}/token/{tokenId}": {
      "get": {
        "summary": "Get NFT by contract and token",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NFT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessNft"
                }
              }
            }
          }
        }
      }
    },
    "/api/listings": {
      "get": {
        "summary": "Active listings",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "sold",
                "cancelled"
              ],
              "default": "active"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessListings"
                }
              }
            }
          }
        }
      }
    },
    "/api/listings/{id}": {
      "get": {
        "summary": "Listing by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessListing"
                }
              }
            }
          }
        }
      }
    },
    "/api/sales/recent": {
      "get": {
        "summary": "Recent sales",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sales",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessSales"
                }
              }
            }
          }
        }
      }
    },
    "/api/activities": {
      "get": {
        "summary": "Global activity feed",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedActivities"
                }
              }
            }
          }
        }
      }
    },
    "/api/stats/overview": {
      "get": {
        "summary": "Marketplace overview stats",
        "responses": {
          "200": {
            "description": "Overview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessStatsOverview"
                }
              }
            }
          }
        }
      }
    },
    "/api/stats/top-collections": {
      "get": {
        "summary": "Top collections",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "7d",
              "enum": [
                "24h",
                "7d",
                "30d",
                "all"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Top collections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessCollections"
                }
              }
            }
          }
        }
      }
    },
    "/api/stats/volume-history": {
      "get": {
        "summary": "Volume history",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "30d",
              "enum": [
                "7d",
                "30d",
                "90d",
                "365d"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Volume history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessVolumeHistory"
                }
              }
            }
          }
        }
      }
    },
    "/api/upload/images": {
      "post": {
        "summary": "Upload image",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/upload/avatars": {
      "post": {
        "summary": "Upload avatar",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/upload/banners": {
      "post": {
        "summary": "Upload banner",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/upload/metadata": {
      "post": {
        "summary": "Upload metadata JSON",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/upload/nft/complete": {
      "post": {
        "summary": "Complete NFT upload (image + optional animation + metadata)",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "animation": {
                    "type": "string",
                    "format": "binary"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "attributes": {
                    "type": "string",
                    "description": "JSON string of attributes"
                  },
                  "external_url": {
                    "type": "string"
                  }
                },
                "required": [
                  "image",
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadCompleteResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Pagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          },
          "hasMore": {
            "type": "boolean"
          }
        }
      },
      "SuccessEnvelope": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "data": {}
        },
        "required": [
          "success",
          "data"
        ]
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "network": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "status",
          "network",
          "timestamp"
        ]
      },
      "Creator": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "wallet_address": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "bio": {
            "type": "string"
          },
          "avatar_url": {
            "type": "string"
          },
          "banner_url": {
            "type": "string"
          },
          "website_url": {
            "type": "string"
          },
          "twitter_handle": {
            "type": "string"
          },
          "discord_handle": {
            "type": "string"
          },
          "is_verified": {
            "type": "boolean"
          },
          "total_volume": {
            "type": "string"
          },
          "total_sales": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaginatedCreators": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Creator"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "SuccessCreator": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/Creator"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "Collection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "chain_id": {
            "type": "string"
          },
          "creator_id": {
            "type": "string"
          },
          "contract_address": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "logo_url": {
            "type": "string"
          },
          "banner_url": {
            "type": "string"
          },
          "featured_url": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "royalty_percentage": {
            "type": "string"
          },
          "royalty_address": {
            "type": "string"
          },
          "is_verified": {
            "type": "boolean"
          },
          "is_featured": {
            "type": "boolean"
          },
          "is_explicit": {
            "type": "boolean"
          },
          "total_items": {
            "type": "integer"
          },
          "total_owners": {
            "type": "integer"
          },
          "floor_price": {
            "type": "string"
          },
          "total_volume": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "creator_address": {
            "type": "string"
          },
          "creator_username": {
            "type": "string"
          },
          "creator_avatar": {
            "type": "string"
          }
        }
      },
      "PaginatedCollections": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Collection"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "SuccessCollections": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Collection"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "SuccessCollection": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/Collection"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "NftAttribute": {
        "type": "object",
        "properties": {
          "trait_type": {
            "type": "string"
          },
          "value": {}
        }
      },
      "Nft": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "contract_address": {
            "type": "string"
          },
          "collection_id": {
            "type": "string"
          },
          "creator_id": {
            "type": "string"
          },
          "owner_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "animation_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "external_url": {
            "type": "string"
          },
          "metadata_url": {
            "type": "string"
          },
          "attributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NftAttribute"
            }
          },
          "rarity_score": {
            "type": [
              "number",
              "null"
            ]
          },
          "rarity_rank": {
            "type": [
              "integer",
              "null"
            ]
          },
          "is_listed": {
            "type": "boolean"
          },
          "current_price": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_sale_price": {
            "type": [
              "string",
              "null"
            ]
          },
          "view_count": {
            "type": "integer"
          },
          "favorite_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaginatedNfts": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Nft"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "SuccessNft": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/Nft"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "Listing": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "nft_id": {
            "type": "string"
          },
          "seller_id": {
            "type": "string"
          },
          "chain_listing_id": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "seller_address": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          }
        }
      },
      "SuccessListings": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Listing"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "SuccessListing": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/Listing"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "Sale": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "nft_id": {
            "type": "string"
          },
          "listing_id": {
            "type": "string"
          },
          "buyer_id": {
            "type": "string"
          },
          "seller_id": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "platform_fee": {
            "type": "string"
          },
          "royalty_fee": {
            "type": "string"
          },
          "transaction_hash": {
            "type": "string"
          },
          "block_number": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          }
        }
      },
      "SuccessSales": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sale"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "Activity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "nft_id": {
            "type": "string"
          },
          "listing_id": {
            "type": "string"
          },
          "collection_id": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "tx_hash": {
            "type": "string"
          },
          "block_number": {
            "type": "integer"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaginatedActivities": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Activity"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "StatsOverview": {
        "type": "object",
        "properties": {
          "total_volume": {
            "type": "string"
          },
          "total_sales": {
            "type": "integer"
          },
          "total_nfts": {
            "type": "integer"
          },
          "total_collections": {
            "type": "integer"
          },
          "total_creators": {
            "type": "integer"
          },
          "volume_24h": {
            "type": "string"
          }
        }
      },
      "SuccessStatsOverview": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/StatsOverview"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "VolumeHistoryPoint": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "volume": {
            "type": "string"
          },
          "sales_count": {
            "type": "integer"
          }
        }
      },
      "SuccessVolumeHistory": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VolumeHistoryPoint"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "UploadResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              },
              "filename": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "UploadCompleteResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "image_url": {
                "type": "string"
              },
              "animation_url": {
                "type": "string"
              },
              "metadata_url": {
                "type": "string"
              },
              "metadata": {
                "type": "object"
              }
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": false
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "error"
        ]
      }
    }
  }
}